---
title: Buy
---
extends layouts/_layout
block content
  .buy
    .block__back
      a(href="#")
        i.icon.icon-arrow-right
      h1 Purchase
    .buy__tabs.tabs
      .tabs__caption
        ul
          li.active Accessories
          li Extended Warranty
      .tabs__content.active
        .buy__result
          p 8 Accessories Found
        .product-card
          .product-card__img
            img(src="img/buy/product-img-01.png", alt="")
          .product-card__info
            span AMPEREUS
            a(href="#") Ampereus Pre Filter Kit For All Kind R.O./U.V./U.F.
            b 
              i.icon.icon-rupee-indian
              | 3,499
            button
              img(src="img/digital_kit_white.svg", alt="")
              | select
        .product-card
          .product-card__img
            img(src="img/buy/place-holder.png", alt="")
          .product-card__info
            span AMPEREUS
            a(href="#") Ampereus Pre Filter Kit For All Kind R.O./U.V./U.F.
            b 
              i.icon.icon-rupee-indian
              | 39
            button 
              img(src="img/digital_kit_white.svg", alt="")
              | select
        .product-card
          .product-card__img
            img(src="img/buy/product-img-02.png", alt="")
          .product-card__info
            span AMPEREUS
            a(href="#") Ampereus Pre Filter Kit For All Kind R.O./U.V./U.F.
            b 
              i.icon.icon-rupee-indian
              | 3,499
            button 
              img(src="img/digital_kit_white.svg", alt="")
              | select
        .product-card
          .product-card__img
            img(src="img/buy/product-img-01.png", alt="")
          .product-card__info
            span AMPEREUS
            a(href="#") Ampereus Pre Filter Kit For All Kind R.O./U.V./U.F.
            b 
              i.icon.icon-rupee-indian
              | 3,499
            button 
              img(src="img/digital_kit_white.svg", alt="")
              | select
      .tabs__content
        .buy__result
          p 10 Plans Found
        .buy__card
          img(src="img/buy/onsite.png", alt="")
          strong Spills and Drops / Damage Protection
          p Comprehensive Damage Protection
          .buy__card__coins
            b 
              i.icon.icon-rupee-indian
              | 3,499
            a(href="#") Buy Now
        .buy__card
          img(src="img/buy/bajaj.png", alt="")
          strong Spills and Drops / Damage Protection
          p Comprehensive Damage Protection
          .buy__card__coins
            b 
              i.icon.icon-rupee-indian
              | 3,499
            a(href="#") Buy Now
        .buy__card
          img(src="img/buy/reliance.png", alt="")
          strong Spills and Drops / Damage Protection
          p Comprehensive Damage Protection
          .buy__card__coins
            b 
              i.icon.icon-rupee-indian
              | 3,499
            a(href="#") Buy Now
    .buy__selected
      .buy__selected__content
        .buy__selected__coins
          i.icon.icon-rupee-indian
          b
            i.icon.icon-rupee-indian
            | 3,650
        a(href="#") place order (
          span 1
          | )