---
title: Index Page
---
extends layouts/_layout
block content
  .digital-kit
    .swiper-container.swiper-digital-kit
      .swiper-pagination.swiper-pagination-digital-kit
      .swiper-wrapper
        .swiper-slide
          .slide__product
            .slide__product__logo
              img(src="img/propure.png", alt="")
            .slide__product__img
              img(src="img/product-img.png", alt="")
            .slide__product__title
              h2 Aquagrand Plus Freedom 
              p Warranty expires in 
                b 29 
                | Days
            .swiper-container.swiper-scroll
              .swiper-wrapper
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/digi_loc.svg", alt="")
                      | Digi Locker
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="https://via.placeholder.com/40x32.png", alt="")
                      | Digi Locker
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/service_location.svg", alt="")
                      | Digi Locker
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/accessories.png", alt="")
                      | Digi Locker
        .swiper-slide
          .slide__product
            .slide__product__logo
              img(src="img/propure.png", alt="")
            .slide__product__img
              img(src="https://via.placeholder.com/236x333.png", alt="")
            .slide__product__title
              h2 Aquagrand Plus Freedom 
              p Warranty expires in 
                b 29 
                | Days
            .swiper-container.swiper-scroll
              .swiper-wrapper
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/digi_loc.svg", alt="")
                      | Digi Locker
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="https://via.placeholder.com/40x32.png", alt="")
                      | Digi Locker
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/service_location.svg", alt="")
                      | Digi Locker
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/accessories.png", alt="")
                      | Digi Locker
        .swiper-slide
          .slide__product
            .slide__product__logo
              img(src="img/propure.png", alt="")
            .slide__product__img
              img(src="https://via.placeholder.com/236x333.png", alt="")
            .slide__product__title
              h2 Aquagrand Plus Freedom 
              p Warranty expires in 
                b 29 
                | Days
            .swiper-container.swiper-scroll
              .swiper-wrapper
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/digi_loc.svg", alt="")
                      | Digi Locker
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="https://via.placeholder.com/40x32.png", alt="")
                      | Digi Locker
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/service_location.svg", alt="")
                      | Digi Locker
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/accessories.png", alt="")
                      | Digi Locker