---
title: Index Page
outClass: home-page
---
extends layouts/_layout
block content
  include ./partials/_header
  .digital-kit
    .swiper-container.swiper-digital-kit
      .swiper-pagination.swiper-pagination-digital-kit
      .swiper-wrapper
        .swiper-slide
          .slide__product
            .slide__product__logo
              img(src="img/propure.png", alt="")
            .slide__product__img
              img(src="img/product-img.png", alt="")
            .slide__product__title
              h2 Aquagrand Plus Freedom 
              p Warranty expires in 
                b 29 
                | Days
            .swiper-container.swiper-scroll
              .swiper-wrapper
                .swiper-slide
                  .slide__product__function
                    a(href="#input-required" data-pop)
                      .slide__product__function__img
                        img(src="img/digi_loc.svg", alt="")
                      | Doc Box
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/diy.svg", alt="")
                      | DIY
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/request.svg", alt="")
                      | Request
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/help_desk.svg", alt="")
                      | Help Desk
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/service_location.svg", alt="")
                      | locations
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/buy.svg", alt="")
                      | Buy
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/mstore.svg", alt="")
                      | Mstore
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/booking.svg", alt="")
                      | Booking
        .swiper-slide
          .slide__product
            .slide__product__logo
              img(src="img/propure.png", alt="")
            .slide__product__img
              img(src="img/product-img.png", alt="")
            .slide__product__title
              h2 Aquagrand Plus Freedom 
              p Warranty expires in 
                b 29 
                | Days
            .swiper-container.swiper-scroll
              .swiper-wrapper
                .swiper-slide
                  .slide__product__function
                    a(href="#input-required" data-pop)
                      .slide__product__function__img
                        img(src="img/digi_loc.svg", alt="")
                      | Doc Box
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/diy.svg", alt="")
                      | DIY
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/request.svg", alt="")
                      | Request
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/help_desk.svg", alt="")
                      | Help Desk
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/service_location.svg", alt="")
                      | locations
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/buy.svg", alt="")
                      | Buy
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/mstore.svg", alt="")
                      | Mstore
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/booking.svg", alt="")
                      | Booking
        .swiper-slide
          .slide__product
            .slide__product__logo
              img(src="img/propure.png", alt="")
            .slide__product__img
              img(src="img/product-img.png", alt="")
            .slide__product__title
              h2 Aquagrand Plus Freedom 
              p Warranty expires in 
                b 29 
                | Days
            .swiper-container.swiper-scroll
              .swiper-wrapper
                .swiper-slide
                  .slide__product__function
                    a(href="#input-required" data-pop)
                      .slide__product__function__img
                        img(src="img/digi_loc.svg", alt="")
                      | Doc Box
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/diy.svg", alt="")
                      | DIY
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/request.svg", alt="")
                      | Request
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/help_desk.svg", alt="")
                      | Help Desk
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/service_location.svg", alt="")
                      | locations
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/buy.svg", alt="")
                      | Buy
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/mstore.svg", alt="")
                      | Mstore
                .swiper-slide
                  .slide__product__function
                    a(href="#")
                      .slide__product__function__img
                        img(src="img/booking.svg", alt="")
                      | Booking
    .pop-up-bg
    form.digital-kit__pop-up.pop-up#input-required
      .digital-kit__pop-up__title
        a(href="#").close Cancel
        h3 File Details
        button Continue
      .digital-kit__pop-up__content
        .digital-kit__pop-up__input
          input(type="text" placeholder="Product Price")
        .digital-kit__pop-up__input
          input(type="text" placeholder="Product Date")
          a(href="#")
            img(src="img/profile/calendar.png", alt="")
  include ./partials/_footer
