---
title: Pages
---
extends layouts/_layout
block content
  .pages
    h1 Pages
    ul
      li
        a(href="index.html") digital-kit
      li
        a(href="self-service.html") self_service
      li
        a(href="self-service-no-video.html") self-service-no-video
      li
        a(href="profile.html") Profile
      li
        a(href="buy.html") Buy
      li
        a(href="empty-cart.html") Empty_cart
      li
        a(href="purchase-confirmation.html") Purchase confirmation
      li
        a(href="order.html") Confirm Order
      li
        a(href="shopping-cart.html") Shopping cart
      li
        a(href="docs.html") Docs
      li
        a(href="docs-not-file.html") Docs_box_no_invoices