---
title: Payment failed
---
extends layouts/_layout
block content
  .payment-failed
    .block__back
      a(href="#")
        i.icon.icon-arrow-right
      h1 Purchase Confirmation
    .payment-failed__intro
    .payment-failed__block
      img(src="img/error.svg", alt="")
      h2 Your payment has failed
      p It seems we have not received money
      span You can retry the payment below to <br>continue this
      a(href="#") Try again