---
title: Product details
---
extends layouts/_layout
block content
  .product-details
    .block__back
      a(href="#")
        i.icon.icon-arrow-right
      h1 Product Details
    .product-details__img
      .product-details__img__block
        img(src="img/product-img.png", alt="")
    .product-details__info
      h2 Aquagrand Plus Freedom 
      p 15 L RO + UV Water Purifier
      ul
        li 
          span Model Number
          b Freedom Plus
        li 
          span Manufacturer
          b Aquagrand
        li 
          span Seller
          b SB Solution
        li 
          span Purchase Date
          b 08 Dec 2017
        li 
          span Warrant Expiry Date
          b 08 Dec 2018