---
title: Purchase confirmation
---
extends layouts/_layout
block content
  .purchase-confirmation
    .block__back
      a(href="#")
        i.icon.icon-arrow-right
      h1 Purchase Confirmation
    .purchase-confirmation__intro
    .purchase-confirmation__content
      .purchase-confirmation__title
        img(src="img/tick-mark.png", alt="")
        h3 Thank You.
        p Your order has been received.
        b You will receive an order confirmation email with details of your order.
      .purchase-confirmation__product
        .purchase-confirmation__product__img
          img(src="img/buy/product-img-01.png", alt="")
        .purchase-confirmation__product__text
          strong Order #9000934
          a(href="#") Ampereus Pre Filter Kit For All Kind R.O./ U.V./U.F.
          b 
            i.icon.icon-rupee-indian
            | 3,499
      .purchase-confirmation__product
        .purchase-confirmation__product__img
          img(src="img/buy/product-img-01.png", alt="")
        .purchase-confirmation__product__text
          strong Order #9000934
          a(href="#") Ampereus Pre Filter Kit For All Kind R.O./ U.V./U.F.
          b 
            i.icon.icon-rupee-indian
            | 3,499