---
title: Self-service
---
extends layouts/_layout
block content
  .self-service
    .block__back
      a(href="#")
        i.icon.icon-arrow-right
      h1 Self Service (DIY)
    form.self-service__form
      .self-service__form__block
        a(href="#")
          i.icon.icon-search
        input(type="text" placeholder="Search for Videos and Manuals")
    .self-service__list
      h2 videos
      .swiper-container.swiper-video
        .swiper-wrapper
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span How to change filter
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span How to assemble wa...
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span Nutrition cartridge...
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span Double purification
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span How to change filter
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span How to change filter
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span How to change filter
    .self-service__list
      h2 documents
      .swiper-container.swiper-video
        .swiper-wrapper
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span How to change filter
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span How to assemble water
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span Nutrition cartridge...
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span Double purification
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span How to change filter
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span How to change filter
          .swiper-slide
            a(href="#").self-service__list__items
              img(src="https://via.placeholder.com/125x125.png", alt="")
              span How to change filter
              