//BEGIN footer
footer.footer
  a(href="#")
    .footer__icon
      img(src="https://via.placeholder.com/33x33.png", alt="")
    | Events
  a(href="#")
    .footer__icon
      img(src="https://via.placeholder.com/35x33.png", alt="")
    | Digital Kit
  a(href="#")
    .footer__icon
      img(src="img/inbox.png", alt="")
    | Inbox
  a(href="#")
    .footer__icon
      img(src="https://via.placeholder.com/33x10.png", alt="")
    | More
//END footer