//BEGIN footer
footer.footer
  a(href="#")
    .footer__icon
      img(src="img/events.svg", alt="")
    | Events
  a(href="#")
    .footer__icon
      img(src="img/digital_kit_white.svg", alt="")
    | Digital Kit
  a(href="#")
    .footer__icon
      img(src="img/inbox.svg", alt="")
    | Inbox
  a(href="#")
    .footer__icon
      img(src="img/more_menu_active.svg", alt="")
    | More
//END footer