.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-eye {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-rupee-indian {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
